.menu {
  display: inline-grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 10vw);

  > .menu_item {
    cursor: pointer;
    > a {
      text-decoration-line: none;
      color: #c8c8c8;
      &:hover {
        text-decoration-line: underline;
      }
    }
    &.active {
      transition: all 1s;
      > a {
        color: #606060;
      }
    }
  }
}
